#leftSide {
	float: left;
	width: 25%;
}

#rightSide {
	float: left;
	width: 20%;
}

#searchbar {
	margin-top: 10%;
	margin-left: 10%; 
}

#searchbutton {
	margin-top: 5%;
	margin-left: 25%;
}

#content {
	display: inline-block;	
	width: 100%;
}

.picture {
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 50%;
}

.divider {
    border-left: solid rgb(0,0,0);
    width: 5px;
    height: 300px;
	float: left;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}

table.searchtable {
	border-collapse:separate;
	border-spacing:10px 50px;
}

img {
	width: inherit;
	height: inherit;
	margin-left: 50%; 
/*	margin-right: 50%; 
*/
}